body {
    font-family: sans-serif;
}

header {
    background-color: #0776A0;
    padding: 10px;
}

header img {
    height: 60px;
}

header a {
    text-decoration: none;
    background-color: #E7BB23;
    border-radius: 10px;
    padding: 6px;
    color: white;
}

h1 {
    text-align: center;
}

main img {
    margin: 5px;
}

h2 {
   color: #FF2C00; 
}

.love {
    text-align: center;
    border-bottom: 5px solid black;
    border-top: 5px solid black;
    padding: 20px;
}

ul {
    list-style: url("маркер.png");
}

li {
    margin: 30px;
}

footer {
    background-color: #024C68;
    color: white;
    padding: 10px;
}
